/* ==========================================================================
   Column & Row Setup
   ========================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

/* Remove the margin on the first column. Works on all browsers incl. IE7+ */
.col:first-child { margin-left: 0; }

.row {
	clear: both;
	margin: 0 auto;
	*zoom: 1;
}

.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


/* ==========================================================================
   Five Column Grid
   ========================================================================== */

.grid_5_of_5 { width: 100%; }
.grid_4_of_5 { width: 79.68%; }
.grid_3_of_5 { width: 59.36%; }
.grid_2_of_5 { width: 39.04%; }
.grid_1_of_5 { width: 18.72%; }

/*  Go full width at less than 480px */

@media only screen and (max-width: 480px) {
	.grid_5_of_5,
	.grid_4_of_5,
	.grid_3_of_5,
	.grid_2_of_5,
	.grid_1_of_5 {
		width: 100%; 
	}
	.col { margin: 0; }
}