/* ==========================================================================
   Column & Row Setup
   ========================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

/* Remove the margin on the first column. Works on all browsers incl. IE7+ */
.col:first-child { margin-left: 0; }

.row {
	clear: both;
	margin: 0 auto;
	*zoom: 1;
}

.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


/* ==========================================================================
   Eight Column Grid
   ========================================================================== */

.grid_8_of_8 { width: 100%; }
.grid_7_of_8 { width: 87.3%; }
.grid_6_of_8 { width: 74.6%; }
.grid_5_of_8 { width: 61.9%; }
.grid_4_of_8 { width: 49.2%; }
.grid_3_of_8 { width: 36.5%; }
.grid_2_of_8 { width: 23.8%; }
.grid_1_of_8 { width: 11.1%; }


/*  Go full width at less than 480px */

@media only screen and (max-width: 480px) {
	.grid_8_of_8,
	.grid_7_of_8,
	.grid_6_of_8,
	.grid_5_of_8,
	.grid_4_of_8,
	.grid_3_of_8,
	.grid_2_of_8,
	.grid_1_of_8 {
		width: 100%; 
	}
	.col { margin: 0; }
}