/* ==========================================================================
   Column & Row Setup
   ========================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

/* Remove the margin on the first column. Works on all browsers incl. IE7+ */
.col:first-child { margin-left: 0; }

.row {
	clear: both;
	margin: 0 auto;
	*zoom: 1;
}

.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


/* ==========================================================================
   Nine Column Grid
   ========================================================================== */

.grid_9_of_9 { width: 100%; }
.grid_8_of_9 { width: 88.71%; }
.grid_7_of_9 { width: 77.42%; }
.grid_6_of_9 { width: 66.13%; }
.grid_5_of_9 { width: 54.84%; }
.grid_4_of_9 { width: 43.55%; }
.grid_3_of_9 { width: 32.26%; }
.grid_2_of_9 { width: 20.97%; }
.grid_1_of_9 { width: 9.68%; }

/*  Go full width at less than 480px */

@media only screen and (max-width: 480px) {
	.grid_9_of_9,
	.grid_8_of_9,
	.grid_7_of_9,
	.grid_6_of_9,
	.grid_5_of_9,
	.grid_4_of_9,
	.grid_3_of_9,
	.grid_2_of_9,
	.grid_1_of_9 {
		width: 100%; 
	}
	.col { margin: 0; }
}